body {
    background-color: black;
}

p {
    color: rgb(247, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin: 1cm;
    text-transform: capitalize;
}

h1 {
    color: rgb(0, 174, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(0, 174, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: rgb(0, 162, 255);
    font-family: Arial, Helvetica, sans-serif;
}

li {
    color: rgb(224, 255, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

a {
    color: aqua;
}

.BP2 {
    width: 300px;
    margin-left: 400px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(255, 115, 0);
}

.BP1 {
    width: 300px;
    margin-left: 100px;
    height: 220px;
    background-image: url(../lab03/images/Patty1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(163, 109, 58);
}